{% assign publications = site.data.data.publications %} {% if publications %}
<section class="section publications-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-book fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% for type in publications.types %}
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        {% if type.name %}
        <h3 class="pub-section">{{ type.name }}</h3>
        {% endif %}
      </div>

      <ol>
        {% for paper in type.papers %}
          <li>
            {% if paper.authors %} {{ paper.authors }}. {% endif %}
            {% if paper.year %} {{ paper.year }}. {% endif %}
            {% if paper.link %} <a href="{{ paper.link }}"> {{ paper.title }}. </a> {% else %} {{ paper.title }}. {% endif %} 
            {% if paper.publication %} {{ paper.publication }}. {% endif %}
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
  {% endfor %}
</section>
{% endif %}
